<div class="jumbotron">
  <div class="container-fluid">
    <h1>ENABLING PROGRESS</h1>
    <p>THROUGH ENTREPRENEURIAL ACTION</p>
    <hr>
    <h2>Enactus at the University of Pennsylvania</h2>
  </div>
</div>