<div class="jumbotron">
  <div class="container-fluid">
    <h1>ENABLING PROGRESS</h1>
    <p>THROUGH ENTREPRENEURIAL ACTION</p>
    <hr>
    <h2>Enactus at the University of Pennsylvania</h2>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="row">
      <div class = "col-md-2"></div>
      <div class = "col-md-8">
        <h1>WE BELIEVE</h1>
        <p>that students have the power to bring change to their local community.
        Tackling 4-6 projects a semester, our members learn the process of social
        entrepreneurship from the ground up and immerse themselves in the Philadelphia
        community.</p>
        </div>
      <div class = "col-md-2"></div>
    </div>
  </div>
</div>