<div class="jumbotron">
  <div class="container-fluid">
    <h1>ENABLING PROGRESS</h1>
    <p>THROUGH ENTREPRENEURIAL ACTION</p>
    <hr>
    <h2>Enactus at the University of Pennsylvania</h2>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="row">
      <div class = "col-md-2"></div>
      <div class = "col-md-8">
        <h1>WE BELIEVE</h1>
        <p>that students have the power to bring change to their local community.
        Tackling 4-6 projects a semester, our members learn the process of social
        entrepreneurship from the ground up and immerse themselves in the Philadelphia
        community.</p>
        <hr>
        <p>Penn Enactus is now accepting applications for the Fall 2015 Semester.
        We are looking for motivated individuals who have a strong desire to use their 
        skills to help others.</p>
        </div>
      <div class = "col-md-2"></div>
    </div>
  </div>
</div>

<div class="recruit">
  <div class="container">
    <div class="row">
      <div class = "col-md-3"></div>
      <div class = "col-md-3">
        <h2 id="contact"><%= link_to "contact",   '#' %></h2>
      </div>
      <div class = "col-md-3">
        <h2 id="apply"><%= link_to "apply",   '#' %></h2>
      </div>
      <div class = "col-md-3"></div>
    </div>
  </div>
</div>