<div class="jumbotron" id='jumboone'>
  <div class="container-fluid">
    <h1>ENABLING PROGRESS</h1>
    <p>THROUGH ENTREPRENEURIAL ACTION</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h1>Penn Enactus</h1>
    <p>is a leading social entrepreneurship hub at the University of 
    Pennsylvania. Spanning across all four undergraduate schools, our 
    members learn the process of social entrepreneurship from the ground 
    up and have the opportunity to immerse themselves in making an impact 
    within the Philadelphia community.</p>
  </div>
</div>

<div class="jumbotron" id='jumbotwo'>
  <div class="container-fluid">
    <p>"Be the change you want to see in the world"</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <p>Penn Enactus is now accepting applications for the Fall 2015 Semester.
    We are looking for motivated individuals who have a strong desire to use their 
    skills to help others.</p>
    <div class="recruit">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <h2 id="contact"><%= link_to "contact", '#' %></h2>
        </div>
        <div class="col-md-3">
          <h2 id="apply"><%= link_to "apply", '#' %></h2>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>