<div class="jumbotron" id="join">
  <div class="container-fluid">
    <p>JOIN US</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>WHY ENACTUS</h5>
    <p>Penn Enactus is looking for new members for the Fall 2015 semester. Students in
    Enactus are given a unique oppotunity of experiencing all of the facets of social
    entrepreneurship firsthand. Project groups in Enactus are fast-paced, immersive,
    and push students to apply classrooms skills to the real world. </p>
    <h5>CLASS CREDIT</h5>
    <p>Members who have been with the organization for two semesters have the
    opportunity to participate in Enactus for class credit during subsequent semesters within the
    organization. Members who take Enactus as a class are more involved with the club and 
    complete assignments for a grade. MGMT 191 and MGMT 353 credit can be awarded for students
    who go this route.
    <h5>HOW TO JOIN</h5>
    <p>Enactus will be holding info sessions the week of August 30th. For those of you who
    heard about us through the SAC Activities Fair, check your email for information regarding
    these info sessions, which will be sent your way very soon. If you would like to join the mailing
    list or would like more information, please contact Penn Enactus at <a href="mailto:enactus.upenn@gmail.com?">enactus.upenn@gmail.com</a>. Applications will be live the week of August
    30th.
  </div>
</div>