<div class="jumbotron" id="team">
  <div class="container-fluid">
    <p>THE TEAM</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>THE TEAM</h5>
    <p>We are students drawing from a range of backgrounds with a common interest
    in promoting progress throughout the community. Our executive board works
    to shape the day to day and long term vision of our organization.</p>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col=md-4">
        <img height=200 width=300 src="/headshots/evan.jpg" alt="">
        <h4>Evan Huang</h4>
        <h5>President</h5>
        <p>Evan is a sophomore at Penn working towards a bachelors 
        and masters in Systems Engineering. He is currently focusing his studies and 
        research on stochastic systems, particularly those that have to do with sports, 
        and is working as a portfolio coordinator for Keurig Green Mountain. When he's 
        not doing work, Evan enjoys playing basketball, playing alto sax, and reading 
        news articles.</p>
      </div>
