<div class="intro">
  <div class="container">
    <h5>THE TEAM</h5>
    <p>We are students drawing from a range of backgrounds with a common interest
    in promoting progress throughout the community. Our executive board works
    to shape the day to day and long term vision of our organization.</p>
  </div>
</div>