@import "bootstrap-sprockets";
@import "bootstrap";

/* fonts */
@font-face {
    font-family: 'Roboto Regular';
    src: font-url("Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto Thin';
    src: font-url("Roboto-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto Light';
    src: font-url("Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Dosis Light';
    src: font-url("Dosis-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Quicksand Regular';
    src: font-url("Quicksand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Quicksand Light';
    src: font-url("Quicksand-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'JosefinSans Light';
    src: font-url("JosefinSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Merriweather Regular';
    src: font-url("Merriweather-Regular.ttf") format("truetype");
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */


#logo {
  float: left;
  margin-left: 10px;
  font-family: "JosefinSans Light";
  margin-right: 10px;
  font-size: 1.9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#headerlist {
  font-family: "Quicksand Regular";
  text-transform: uppercase;
}

/* footer */

footer {
  text-align: center;
  background-color: #171717;
  font-family: "Quicksand Regular";
  text-transform: uppercase;
  font-size: .8vw;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  a {
    color: white;
  }
  a:hover {
    color: #D0D0D0;
  }
}

.jumbotron {
  background-image: asset_url("background.jpeg");
  background-size: cover;
  margin-bottom: 0px;
  height: 100%;
  margin-top: 50px;
  color: white;
  text-align: center;
  h1 {
    font-size: 8vw;  
    font-family: "Merriweather Regular";
    font-style: italic;
    font-weight: bold;
    padding-top: 3%;
  }
  p {
    font-size: 4.5vw;
    font-family: "Roboto Thin";
    color: #fff;
  }
  h2 {
  	font-size: 3vw;
  	font-family: "Roboto Regular";
  	padding-bottom: 3%;
  }
  hr {
  	border-bottom-color: white;
  	width: 65%;
  }
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  h1 {
    font-size: 4vw;
    font-family: "Roboto Thin";
    letter-spacing: 2px;
  }
  p {
    margin-top: 10px;
    font-size: 1.25vw; 
    font-family: "JosefinSans Light";
    letter-spacing: 1px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
