@import "bootstrap-sprockets";
@import "bootstrap";

/* fonts */
@font-face {
    font-family: 'Roboto Regular';
    src: font-url("Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Jumbotron 2';
    src: font-url("Roboto-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto Light';
    src: font-url("Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Dosis Light';
    src: font-url("Dosis-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Font 1';
    src: font-url("Quicksand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Quicksand Light';
    src: font-url("Quicksand-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Font 3';
    src: font-url("JosefinSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Jumbotron 1';
    src: font-url("Merriweather-Regular.ttf") format("truetype");
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */


#logo {
  float: left;
  margin-left: 10px;
  font-family: "Font 3";
  margin-right: 10px;
  font-size: 1.9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#headerlist {
  font-family: "Font 1";
  text-transform: uppercase;
}

/* footer */

footer {
  text-align: center;
  background-color: #171717;
  font-family: "Font 1";
  text-transform: uppercase;
  font-size: 90%;
  color: white;
  padding-top: 50px;
  padding-bottom: 35px;
  a {
    color: white;
  }
  a:hover {
    color: #D0D0D0;
  }
}

.jumbotron {
  background-size: cover;
  margin-bottom: 0px;
  height: 100%;
  margin-top: 50px;
  color: white;
  text-align: center;
  h1 {
    font-size: 8vw;  
    font-family: "Jumbotron 1";
    font-weight: bold;
    font-style: italic;
    padding-top: 4.5%;
  }
  p {
    font-size: 4.4vw;
    font-family: "Jumbotron 2";
    color: #fff;
    padding-bottom: 6%;
  }
}

#jumboone {
  background-image: asset_url("background.jpeg");
}

#jumbotwo {
  background-image: asset_url("momentum.jpg");
  padding-top: 25%;
  p {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  h1 {
    font-size: 400%; 
    font-family: "Font 3";
    letter-spacing: 2px;
  }
  p {
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 150%;
    font-family: "Font 3";
    letter-spacing: 1px;
  }
}

.recruit {
  letter-spacing: 2px;
  font-family: "Dosis Light";
  padding-bottom: 20px;
  text-align: center;
  font-size: 4vw;
  h2 {
    text-transform: uppercase;
    border:1px solid black;
    color: black;
  }
  a:link {
    text-decoration:none;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
